.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    background-color: red;
    height: 40px;

}

.navbar_container li {
    list-style-type: none;
    margin-right: 20px;
}