nav {
    --height: 40px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.navbar_container {

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;

    background-color: var(--bg-color);

    height: var(--height);
    color: var(--primary-color);
}

.navbar_container li {
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar_container li:hover {
    background-color: var(--bg-secondary-color);
}

.hvr-underline-reveal::before {
    background: var(--secondary-color);
}