.register_registerCard {
    --height-from-top: 100px;
    --card-width: 250px;
    --heading-font-size: 18px;
    --heading-height: 60px;
    --heading-border-radius: 7px;

    --formField-height: 150px;
    --formField-input-border-radius: 3px;
    --formField-input-padding: 10px;
    --register-button-padding: 15px 10px;
    --register-button-font-size: 18px;
    --register-button-border-radius: 7px;

    --error-margin-top: 20px;
    --error-font-size: 14px;
}

.register_registerCard {
    margin-top: var(--height-from-top);
    width: var(--card-width);
    display: flex;
    flex-direction: column;
}

.register_heading {
    font-size: var(--heading-font-size);
    align-self: stretch;
    height: var(--heading-height);
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--primary-color);
    border-top-left-radius: var(--heading-border-radius);
    border-top-right-radius: var(--heading-border-radius);

    background-color: var(--bg-color);
    color: var(--primary-color);
}

.register_formField {
    border: 1px solid var(--primary-color);
    height: var(--formField-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register_formField input[type=text] {
    border-top-left-radius: var(--formField-input-border-radius);
    border-top-right-radius: var(--formField-input-border-radius);
    text-decoration: none;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: var(--formField-input-padding)
}

.register_formField input[type=text]:focus {
    border: 2px solid var(--secondary-color);
    outline: none;
}

.register_formField input[type=password] {
    border-bottom-left-radius: var(--formField-input-border-radius);
    border-bottom-right-radius: var(--formField-input-border-radius);
    border: 1px solid var(--secondary-color);
    border: none;
    padding: var(--formField-input-padding);
}

.register_formField input[type=password]:focus {
    border: 2px solid var(--secondary-color);
    outline: none;
}

.register_button {
    border: none;
    padding: var(--register-button-padding);
    background-color: var(--bg-color);
    color: var(--primary-color);
    cursor: pointer;
    font-size: var(--register-button-font-size);
    border: 1px solid var(--primary-color);
    border-bottom-right-radius: var(--register-button-border-radius);
    border-bottom-left-radius: var(--register-button-border-radius);
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.register_error {
    margin-top: var(--error-margin-top);
    font-size: var(--error-font-size);
    color: var(--error-color);
}